<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js') }}"></script>
    <title>Get Premium Freepik</title>
</head>
<body>
    Link:
    <input id="iplink" type="text">
    <input id="btnSubmit" type="button" value="Get Link" onclick="getLink();">
</body>
</html>